BasedOnStyle: LLVM 
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
IndentWidth: 2
ColumnLimit: 0 
UseTab: Never
SpaceBeforeParens: Never
AllowShortFunctionsOnASingleLine: false
